<%- include('partials/header') %> 
<%- include('partials/navbar') %> 

    <section>
        <div class="home-img-div">
            <img src="https://images.pexels.com/photos/997462/pexels-photo-997462.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" alt="">
        </div>
        <!-- <a style="color:aliceblue">Signup for creating new blogs</a> -->
        <a href="/register">Create Blog</a>
    </section>


<%- include('partials/footer') %> 